.gradient__bg {
  background: #ED4264;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFEDBC, #ED4264);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFEDBC, #ED4264);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient_bg{
  background: #ddd6f3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.gradient__text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* .gradient__bg{
  background: var(--gradient-text);
} */
.section__padding {
  padding: 2rem 6rem;
}

.section_padding_md{
  padding: 1rem 4rem;
}

.nav__sticky{
  background-color: rgba(255, 255, 255, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}